main {max-width: 1080px;
  margin: 0 auto;}


header { background-color: #4ea0ff;
        background-image: url('img/img/pattern.png');
}    

.logo {
  padding: 10px;
  height: 100px;
  width: 800px;}

h1 {margin-bottom: 0cm;}

.sotto {margin: 0cm;}
.sotto1 {margin-bottom: 20px;}

h2 {color: #808080;}

a {color: #3cb4e7; text-decoration: none;}

h6 {margin: 0cm;}

/* qua mi sono ripetuta ma non ho trovato un modo migliore */
.fotofine1 {
            width: 311px;
            height: 207px;
            color: white;
            background-image: url('img/img/monitor.jpg');
}

.fotofine2 {
            width: 311px;
            height: 207px;
            color: white;
            background-image: url('img/img/graph.jpg');
}